@import './stylesheets/reset.css';
@import './stylesheets/fonts.css';
@import './stylesheets/media.css';
@import './stylesheets/banner.css';
@import './stylesheets/navbar.css';
@import './stylesheets/section.css';
@import './stylesheets/footer.css';

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  scrollbar-width: none;
  -moz-scrollbar-width: none;
  -webkit-scrollbar-width: none;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}


.new {
  display: flex;
  justify-content: space-between;
}

.new::-webkit-scrollbar {
  display: none;
}

.new img {
  width: 47%;
  object-fit: cover;
}
