h2 {
  font-size: 3rem;
}

h4 {
  font-size: 6vw;
  padding: 1rem;
  text-align: right;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
}


.inner-image {
  width: 45vw;
  padding: 1rem;
  object-fit: cover;
}

.two {
  display: flex;
}


.two img {
  width: 20vw;
  padding: 1rem;
}


.one {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.mr {
  margin-right: 1rem;
}

.two {
  width: 50%;
}

.text-box {
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
}

.text-box p {
  margin-bottom: 1rem;
  text-align: justify;
}

.count:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sections {
  display: flex;
  padding: 1rem;
}
