h2 {
  font-size: 3rem;
}

h3 {
  font-size: 6vw;
  text-align: right;
}

h4 {
  font-size: 7vw;
  padding: 1rem;
  text-align: right;
}


.count:hover {
  text-decoration: underline;
  color: rgb(255, 230, 39);
  cursor: pointer;
}
