
.navbar {
  transition: transform 1s ease-in-out;
  transform: translateY(-100%);
  display: flex;
  position: fixed;
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out;
  align-items: center;
  background-color: white;
  width: 100vw;
  z-index: 2;
  pointer-events: none;
}

.nav-links {
  list-style: none;
}

.nav-link {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.2rem;
  pointer-events: auto;
}

.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  padding: 0.5rem;
}

.sale {
  color: rgb(222, 67, 0);
}

.menu-icon {
  display: none;
}
