
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out;
  align-items: center;
  color: white;
  width: 100vw;
  z-index: 2;
}

.nav-links {
  list-style: none;
}

.nav-link {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  padding: 0.5rem;
}

.sale {
  color: rgb(222, 67, 0);
}

.navbar-scroll {
  color: black;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease-in-out;
}
